.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}

nav-footer>li>a {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

nav-footer {
  min-height: 32px !important
}
