<span class="navbar-brand">
  <img src="../img/tray.png" class="d-inline-block align-top" alt=""> Kobolt
</span>

<div class="mx-auto order-0">
  <a class="navbar-brand mx-auto" data-toggle="collapse" href="#loginCollapse" role="button" aria-expanded="false" aria-controls="loginCollapse"><i class="fas fa-user-circle"></i></a>
</div>

<div class="btn-group">
  <button id="nav_reload" class="btn btn-sm btn-secondary"><i class="fas fa-sync-alt"></i></button>
  <button id="nav_min" class="btn btn-sm btn-secondary"><i class="fas fa-minus"></i></button>
  <button id="nav_close" class="btn btn-sm btn-danger"><i class="fas fa-times"></i></button>
</div>